{% load static %}
{% load i18n %}

<!-- footer navigation -->
<footer class="footer section-padding mt-3" style="color:white !important;background-color:rgb(13,146,63)!important;">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'help' %}">
                        {% trans "Help" %}
                    </a>
                </li>
                <li>
                    <a href="http://olenepal.org/blog" target="_blank">
                        {% trans "Blog" %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        Terms and condition
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
             {% trans "Developed and maintained By" %}
            <a href="http://www.olenepal.org" target="_blank" style="color:white;font-weight:bold; " >{% trans "OLE Nepal" %}</a>.
        </div>
    </div>
</footer>

<!--These tow div close is navbar.html page, closing of class="content" and "content-inside"-->
 </div>
</div>
