{% load static %}
{% load i18n %}

<!-- footer navigation -->
<footer class=" section-padding mt-3" style="color:white !important;background-color:rgb(13,146,63)!important;">


  <div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="copyright">
             {% trans "Developed and maintained By" %}
            <a href="http://www.olenepal.org" target="_blank" style="color:white;font-weight:bold; " >{% trans "OLE Nepal" %}</a>.
      </div>

      <h4>Follow us: </h4>
      <a href="https://www.facebook.com/olenepal/" target="_blank"><i class="fa fa-2x fa-facebook text-white p-2 "></i></a>
      <a href="https://twitter.com/olenepal/" target="_blank"><i class="fa fa-2x fa-twitter text-white p-2 "></i></a>
      <h4>Download App:</h4>
      <a href="https://play.google.com/store/apps/details?id=com.ole.epustakalaya" target="_blank"><i class="fa fa-2x fa-android text-white p-2 "></i></a>

    </div>
    <div class="col-sm">
      Unless explicitly mentioned, all the contents
      on this website are licensed under Creative Commons
      See License Details
      <br><br>
      <img src="{%  static 'images/logos/creative-commons.png' %}" class="text-white" alt="Creative commons">
    </div>
    <div class="col-sm">

      <div class="container text-white">

            <ul style="list-style:none">
                <li>
                    <a href="{% url 'feedback' %}" class="text-white">
                        {% trans "Feedback" %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'help' %}" class="text-white">
                        {% trans "Help" %}
                    </a>
                </li>
                <li>
                    <a href="http://olenepal.org/blog" target="_blank" class="text-white">
                        {% trans "Blog" %}
                    </a>
                </li>
                <li>
                    <a href="#" class="text-white">
                        Terms and condition
                    </a>
                </li>
            </ul>


    </div>

    </div>
  </div>
</div>


</footer>

<!--These tow div close is navbar.html page, closing of class="content" and "content-inside"-->
 </div>
</div>
