{% load static %}
{% load i18n %}
<div class="col-md-12">
    {% for hit in response %}
        <ul class="list-unstyled">
        <li class="media mb-3">
            <span class="mr-2">{{ forloop.counter }}.</span>
            <img class="mr-3 rounded" src="{{ MEDIA_URL }}{{ hit.thumbnail }}"
                 width="64px"
                 height="80px"
                 title="{{ hit.title }}"
                 alt="{{ hit.title }}">
            <div class="media-body">
                <p class="text-capitalize mt-0 mb-1">
                    <a class="text-capitalize text-dark"
                       href="{% url hit.type|add:":detail" hit.title|slugify hit.id %}">{{ hit.title }}</a>
                </p>
                <div class="text-dark text-capitalize">
                    <div>
                        {% for author in hit.author_list %}
                            {% if author == "null" %}
                                <!-- do nothing -->
                            {% else %}
                                <!-- hard link are used as so as, wrong urls can break the page -->
                                <a style="text-decoration: none" class="text-capitalize text-description text-info"
                                   href="/authors/{{ author.0|slugify }}/{{ author.1 }}">
                                    {{ author.0 }}
                                </a>
                                <span class="text-dark">{% if not forloop.last %},{% endif %}</span>

                            {% endif %}
                        {% endfor %}

                    </div>
                    {{ hit.abstract | truncatechars:"30" }}
                </div>
                <div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div>

            </div>
        </li>
        <hr/>
    {% endfor %}
    </ul>
</div>
