{% load static %}
{% load i18n %}
{% get_language_info_list for LANGUAGES as languages %}
<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
                <img src="{% static "images/logos/ole-logo.png" %}"
                     height="60px" , width="auto"
                     alt="Pustakalaya">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>


        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item text-black">
                    <a class="nav-link" href="/">
                        <i class="fa fa-home"></i>
                        {% trans "Home" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'help' %}">{% trans "Help" %}</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link " href="{% url 'feedback' %}">{% trans "Feedback" %}</a>
                </li>


                <li class="nav-item">

                    <!--button  trigger modal-->
                    <a class="nav-link active" aria-expanded="true" data-toggle="modal" data-target="#myModal">
                        <i class="now-ui-icons users_single-02"></i>
                        {% trans "Log In" %}</a>

                    <!-- Modal Core -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h3>Log in pustakalaya</h3>
                                </div>

                                <div class="modal-body">

                                    <div class="card card-login card-plain">
                                        <form class="form" method="" action="">
                                            <div class="content">
                                                <div class="input-group form-group-no-border">

                                                    <input type="text" class="form-control"
                                                           placeholder="Enter e-mail address" required>
                                                </div>
                                                <div class="input-group form-group-no-border">
                                                    <input type="password" placeholder="password" class="form-control"  required>
                                                </div>
                                            </div>
                                            <div class="footer pull-right">
                                                <a href="#" class="btn btn-info">Log In</a>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="button" class="btn btn-info btn-simple">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- language selection -->
                {% if settings.USE_I18N and languages|length > 1 %}
                    <form action="{% url "set_language" %}" method="post" class="navbar-form navbar-right">
                        {% csrf_token %}
                        <div class="form-group">
                            <select name="language" class="form-control" onchange="this.form.submit()">
                                {% for language in languages %}
                                    <option value="{{ language.code }}"
                                            {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>
                                        {{ language.name_local }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                {% else %}
                {% endif %}


            </ul>
        </div>
    </div>
</nav>
