{% load static %}
{% load i18n %}
{% load login_form %}
{% load pustakalaya_filters %}
{% get_language_info_list for LANGUAGES as languages %}
<style>
    a:hover {
        color: #005689;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-toggleable-lg bg-white background-color p-0 m-0">
    <div class="container-fluid background-color pr-5 pl-5 " >
        <div class="navbar-translate pl-5 mr-5">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/logos/ole-logo.png' %}"
                     height="60px" class="img-responsive"

                     alt="Pustakalaya">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa fa-2x fa-bars text-primary" aria-hidden="true"></i>
            </button>


        </div>

        <!-- navigation menu -->
        <div class="collapse navbar-collapse justify-content-end mr-5 pr-4" id="navigation">
            <ul class="navbar-nav text-primary">
                <li class="nav-item">
                    <a class="nav-link text-primary pt-0" href="/">
                        {% trans "Home" %}
                        <i class="fa fa-home"></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'about' %}">
                        {% trans "About" %}
                    </a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link text-primary" href="/authors">
                        {% trans "Authors" %}
                    </a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'help' %}">{% trans "Help" %}</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link text-primary" href="{% url 'feedback' %}">{% trans "Feedback" %}</a>
                </li>


                {% if not  user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-primary" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <span class="icon-password"></span> Log In
                        </a>
                        {% login_form %}

                    </li>
                {% endif %}



                <!-- language selection button -->
                <li class="nav-item">


                    <a class="nav-link text-primary">
                        <form action="{% url 'set_language' %}" method="post" id="changeLanguageForm" class="">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% csrf_token %}
                            <!-- Change value to current_url without language -->
                            <input name="next" type="hidden" value="/"/>
                            <!-- don't change the name language -->
                            {% if LANGUAGE_CODE == "en" %}
                                <i class="flag-icon flag-icon-gb"></i>
                            {% else %}
                                <i class="flag-icon flag-icon-{{ LANGUAGE_CODE }}"></i>
                            {% endif %}
                            <select name="language"
                                    class="text-primary"
                                    style="border: none; background:none; outline:none; ">
                                {% get_available_languages as LANGUAGES %}
                                {% for lang in LANGUAGES %}
                                    <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}
                                            selected="selected"{% endif %}
                                            style="outline:none;"
                                    >
                                        {{ lang.1 }}

                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                    </a>
                </li>


                {% if user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-primary text-capitalize" href="/dashboard/"
                           id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "dashboard" %} <i class="fa fa-tachometer"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-primary text-capitalize"
                               href="/dashboard/profile/">{% trans "profile" %}</a>
                            <a class="dropdown-item text-primary text-capitalize"
                               href="/accounts/logout/">{% trans "logout" %}</a>
                            <a class="dropdown-item text-primary text-capitalize"
                               href="/dashboard/settings/">{% trans "settings" %}</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- script to reload selected country -->
<script>
    (function () {
        // Grab language selection form
        var changeLanguageForm = document.getElementById("changeLanguageForm");
        // Select language input
        var languageInput = changeLanguageForm.elements.language;
        // listen change event on select input
        languageInput.onchange = function () {
            // If there is change submit the form.
            changeLanguageForm.submit();
        }
    })();
</script>
