{% load static %}
{% load i18n %}
{% get_language_info_list for LANGUAGES as languages %}
<style>
    a:hover {
        color: #005689;
    }
</style>
<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
                <img src="{% static "images/logos/ole-logo.png" %}"
                     height="60px" , width="auto"
                     alt="Pustakalaya">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>


        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav text-primary">
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/">
                        <i class="fa fa-home"></i>
                        {% trans "Home" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'about' %}">
                        {% trans "About" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/authors">
                        {% trans "Authors" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'help' %}">{% trans "Help" %}</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link text-primary" href="{% url 'feedback' %}">{% trans "Feedback" %}</a>
                </li>


                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-primary" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <span class="icon-password"></span> Log In
                    </a>
                    {% include '_partials/login_form.html' %}
                </li>


                <!-- language selection button -->
                <form action="{% url 'set_language' %}" method="post" id="changeLanguageForm" class=" btn btn-sm
                btn-white bg-white">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% csrf_token %}
                    <!-- Change value to current_url without language -->
                    <input name="next" type="hidden" value="/"/>
                    <!-- don't change the name language -->
                    {% if LANGUAGE_CODE == "en" %}
                        <i class="flag-icon flag-icon-gb"></i>
                    {% else %}
                        <i class="flag-icon flag-icon-{{ LANGUAGE_CODE }}"></i>
                    {% endif %}
                    <select name="language"
                            class="text-secondary"
                            style="border: none; background:none; outline:none; ">
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}
                                    selected="selected"{% endif %}
                                    style="outline:none;"
                            >
                                {{ lang.1 }}

                            </option>
                        {% endfor %}
                    </select>
                </form>
            </ul>
        </div>
    </div>
</nav>

<!-- script to reload selected country -->
<script>
    (function () {
        // Grab language selection form
        var changeLanguageForm = document.getElementById("changeLanguageForm");
        // Select language input
        var languageInput = changeLanguageForm.elements.language;
        // listen change event on select input
        languageInput.onchange = function () {
            // If there is change submit the form.
            changeLanguageForm.submit();
        }
    })();
</script>
