{% load i18n %}
{% load static %}


<div class="container">
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-instant@0.0.12/dist/vue-instant.browser.js"></script>
  <div id="home-page-search-bar">
    <label>{{selectedEvent}}</label>
    <form action="/search" method="GET" id="searchForm">
      <div class="input-group bg-white">

        <!--<input class="form-control border-right-0"-->
        <!--id="searchFormInput"-->
        <!--list="browsers"-->
        <!--type="search" name="q"-->
        <!--onkeyup="suggest_text(event)"-->
        <!--autocomplete="off"-->
        <!--placeholder="{% trans 'Search pustakalaya' %}">-->

        <input type="hidden" id="filterData" name="form-filter"/>
        <!--<input type="submit" class="input-group-addon pr-3 pl-3 paragraph-font" id="search-icon"/>-->
        <!-- input field to send query data -->
        <input type="hidden" value="" name="q" id="queryData"/>

      </div>

      <vue-instant :suggestion-attribute="suggestionAttribute"
                   v-model="value" :disabled="false"
                   name="qar"
                   @input="changed" @click-input="clickInput"
                   @click-button="clickButton" @selected="selected"
                   @enter="enter" @key-up="keyUp" @key-down="keyDown"
                   @key-right="keyRight" @clear="clear"
                   @escape="escape" :show-autocomplete="true"
                   :autofocus="false" :suggestions="suggestions"
                   name="customName" placeholder="Search pustakalaya"
                   type="google"></vue-instant>
    </form>

  </div>

</div>

<datalist id="browsers">

</datalist>



<script>
    (function (window) {
        window.suggest_text = function ($event) {
            // Query to Elastic search
            var suggest_url = "./search/completion/";
            console.log($event.target.value)
            $.post({
                type: "get",
                url: suggest_url,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    suggest_text: $event.target.value
                },
                success: function (data) {

                    var suggest_data = JSON.parse(data);
                    var list_item = " ";
                    suggest_data.forEach(function (item) {
                        var suggestionText = item.text;
                        // Suitable to make search in type features.
                        var doc_type = item._type;
                        console.log(item.text)
                        // TODO: remove duplicate items.
                        // Bind the result to the suggestion box.
                        if (suggestionText) {
                           // list_item += '<li onmouseover="onSuggestionSelect(this)"  onmouseleave="onSuggestionLeave(this)" class="list-group-item">' + suggestionText + '</li>';
                            list_item += "<option value="+ "'" + suggestionText + "'" + ">"+suggestionText+"</option>";

                        }
                    });
                    document.getElementById("browsers").innerHTML = list_item
                    console.log(list_item)


                    //console.log(suggest_data.suggest.title_suggest[0].options)

                },
                error: function () {
                    // console.log("No ")
                }
            })


            // On hover mouse event to add active css class.
            window.onSuggestionSelect = function (event) {

                // Remove all the active class from children
                $("#suggestions").children("li").removeClass("active");

                // Add the selected class to the selected li element and set populate the search value.
                $(event).addClass("active");

                $("#searchFormInput").val($(event).text());


            }

            // Listen the event when the mouse leave





        }
    })(window);

 //Vue js code added
    new Vue({
        el: '#home-page-search-bar',
        data: {
            value: '',
            suggestionAttribute: 'original_title',
            suggestions: [],
            selectedEvent: ""
        },
        methods: {

            clickInput: function() {
                this.selectedEvent = 'click input'
            },
            clickButton: function() {
                this.selectedEvent = 'click button'
                // add value.
                 $("#queryData").val($('.sbx-google__input').val());
                 $("#searchForm").submit();
            },
            selected: function($event) {
                this.selectedEvent = 'selection changed'

            },
            enter: function() {
                this.selectedEvent = 'enter'


            },
            keyUp: function() {
               this.selectedEvent = 'keyup pressed'


            },
            keyDown: function() {
                this.selectedEvent = 'keyDown pressed'


            },
            keyRight: function() {
                this.selectedEvent = 'keyRight pressed'



            },
            clear: function() {
                this.selectedEvent = 'clear input'


            },
            escape: function() {
                this.selectedEvent = 'escape'
            },
            changed: function() {
                var that = this;
                this.suggestions = [];



               axios.get('./search/completion/?suggest_text=' + this.value)
                    .then(function(response) {
                        var response1 = JSON.parse(response.data)
                        response1.forEach(function(a, i) {
                            a =  {
                            "title":a.text,
                             "original_title":a.text,
                             }
                            that.suggestions.push(a);
                        })
                    })

            }
        },
        components: {
            'vue-instant': VueInstant.VueInstant
        }
    })

</script>
<script src="https://unpkg.com/vue-instant@0.0.12/dist/vue-instant.browser.js" defer></script>
<link rel="stylesheet" href="https://unpkg.com/vue-instant@0.0.10/dist/vue-instant.css">
<script src="https://unpkg.com/axios@0.17.1/dist/axios.min.js" defer></script>
<style>
  .main {
  background-color: inherit;
  margin-left: -20px;
      margin-top: -18px;
  }

  .sbx-google{
  width: 100% !important;
  margin-right:-20px;
  }
</style>

