{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{%  load crispy_forms_tags %}


{% block content %}
    <div class="pt-4">
        <div class="container  jumbotron pt-3 pb-3 mb-0">
            <h6 class=" text-uppercase">{% trans "Feedback" %}</h6>
            <p class="" text-justify>{% blocktrans %}
                Please use the form below to give details about what you liked in our website or about what can be
                improved.

                Your feedback will be invaluable in our attempts to continually improve the quality and user experience
                of E-Pustakalaya.
            {% endblocktrans %}
            </p>
            <hr/>

            <!-- some test -->
            <div class="container bg-white p-3">
                <!-- Feedback form -->
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">

                        <form action="" method="post">
                            {% csrf_token %}
                                {{ form | crispy }}

                            <input class="btn btn-primary" type="submit" value="{% trans 'Send Feedback' %}">
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>

{% endblock content %}
