{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <!--forget password-->
    <div class="container">
        <div class="card-block">
            <h4><strong>Password Reset</strong></h4>

            <p>

                Forgotten your password? <br>
                Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.

            </p>
            <form method="POST" action="/" class="password_reset">
                <input type="hidden" name="" value="">


                <div id="div_id_email" class="form-group">
                    <label for="id_email" class="form-control-label  requiredField">
                        E-mail<span class="asteriskField">*</span>
                    </label>
                    <div class="">
                        <input type="email" name="email" required="" size="30" id="id_email"
                               class="form-control" placeholder="E-mail address">
                    </div>
                </div>

                <input class="btn btn-primary" type="submit" value="Reset My Password">
            </form>
            <p class="mt-3">

                Please contact us if you have any trouble resetting your password.

            </p></div>
    </div>
{% endblock content %}
