{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!--pustakalaya help-->
    <div class="container">
        <h5 class="description text-uppercase">e-pustakalaya faqs</h5>
        <hr>
        <div class="row">

            <div class="col-md-6 col-sm-12 col-xs-12">
                <a href="#what">{% trans "What is E-Pustakalaya?" %}</a>
                <br>
                <a href="#who">{% trans "What are the major sections" %}</a>
                <br>
                <a href="#help">{% trans "What features does E-Pustakalaya have?" %}</a>
                <br>
                <a href="#sections">{% trans "What are the different sections I see on the E-Pustakalaya home page?" %}</a>
                <br>
                <a href="#how">{% trans "How do I use the browse, link and search feature of the library?" %}</a>
                <br>
                <a href="#return">{% trans "How do  I return to the E-Pustakalaya home page from another page?" %}</a>
                <br>
                <a href="#myself">{% trans "Why can't I set up a collection myself?" %}</a>
                <br>
                <a href="#registered">{% trans "Why should I become a registered user?" %}</a>
                <br>
                <a href="#feedback">{% trans "What is a feedback form? How do I use it?" %}</a>
                <br>
                <a href="#epaath">{% trans "What is E-Paath?" %}</a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <a href="#one">{% trans "ई-पुस्तकालय भनेको के हो ?" %}</a>
                <br>
                <a href="#two">{% trans "यसका मुख्य कक्षहरू के-के हुन ?" %}</a>
                <br>
                <a href="#three">{% trans "ई-पुस्तकालयका के-के गर्न सकिन्छ ?" %}</a>
                <br>
                <a href="#four">{% trans "ई-पुस्तकालयको होमपेजमा के-कस्ता खण्डहरू देखिन्छन् ?" %}</a>
                <br>
                <a href="#five">{% trans "पुस्तकालयमा ब्राउज, लिङ्क र सर्च कसरी गर्ने ?" %}</a>
                <br>
                <a href="#six">{% trans "ई-पुस्तकालयको कुनै पनि अर्को पेजबाट होमपेजमा कसरी फर्कने ?" %}</a>
                <br>
                <a href="#">{% trans "किन आफैले ई-पुस्तकालयको सङ्ग्रहमा सामाग्री राख्‍न सकिदैँन ?" %}</a>
                <br>
                <a href="#seven">{% trans "रेजिस्टर्ड युजर किन बन्ने?" %}</a>
                <br>
                <a href="#eight">{% trans "'सुझाव’ भनेको के हो? यसको प्रयोग कसरी गर्ने?" %}</a>
                <br>
                <a href="#nine">{% trans "ई-पाठ भनेको के हो?" %}</a>
            </div>


        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <b><a name="what">{% trans "What is E-Pustakalaya?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        E-Pustakalaya is an education-focused digital library containing full-text documents, images,
                        videos
                        and audio files that can be accessed through an intranet or the internet.E-Pustakalaya users can
                        read books, view videos, learn through interactive activites and listen to audio clips.
                        E-Pustakalaya holds collections in Nepali, English and other
                        languages of Nepal.
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="who">{% trans "What are the major sections" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        There are seven major sections in E-Pustakalaya:<br>
                        <b>1. Literature (“साहित्य”)</b> – This section includes Nepali and English literature
                        categorized by language and
                        age group. In the future, we also intend to add literature in other Nepali languages and to add
                        filtering by genre
                        and other characteristics.
                        <br>
                        <b>2. Art (“कला”)</b> – This section includes books and materials on different art forms,
                        movements and artists,
                        along with a diverse array of hands on material that will be very useful for children wishing to
                        engage in arts and
                        crafts activities that are at the same time educational.
                        <br>
                        <b>3. Course-related materials (“विषयगत पाठ्‍य सामग्री”)</b> – This section includes public
                        school textbooks, as
                        well as supplementary reading material by subject and grade, along with subject and grade wise
                        interactive learning
                        material.
                        <br>
                        <b>4. Reference materials (“सन्दर्भ सामग्री”)</b> – This section currently contains a Nepali
                        dictionary,
                        encyclopedias (in particular, the School Wikipedia), atlases, maps, as well as government
                        documents. This section is
                        particularly relevant to those users seeking material for research projects or general
                        information on topics of a
                        wide range.
                        <br>
                        <b>5. Teaching support materials (“शिक्षण सामग्री”)</b> – This section includes material such as
                        the national school
                        curriculum, teaching manuals, teacher training materials, readings on educational theory,
                        supplementary readings,
                        and links to peer-interaction sites all intended to aid teachers in making lesson plans and
                        strengthening their
                        overall foundation of knowledge.
                        <br>
                        <b>6. Newspapers and magazines (“पत्रपत्रिका”) </b> – This section includes links to key Nepali
                        newspapers and
                        magazines.
                        <br>
                        <b>7. Other educational materials (“अन्य शिक्षाप्रढ सामग्री”)</b> – This section has educational
                        material that is
                        not curriculum based. It includes awareness building and advocacy related materials on a wide
                        range of topics such
                        as health and environment, youth development, civic education and disaster preparedness.
                        <br>
                        <br>These sections are analogous to the different sections you see in physical libraries. The
                        user can enter any of
                        these sections and browse through the collections just like you browse through the book
                        collections displayed in the
                        shelves of a physical library.

                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="help">{% trans "What features does E-Pustakalaya have?" %}</a></b>
                    <br>
                    <p>{% blocktrans %}
                        <br>E-Pustakalaya has four powerful features that make it easy for the user to access books,
                        documents, videos, audio files, and images:<br>
                        <br>
                        <b>a)Browsing capability:</b> The user can browse through the seven major sections looking for
                        items she likes, or she can also browse by author, subject, date and keyword.
                        <br>
                        <b>b)Searching capability:</b> If the user knows the specifics about the item she is looking for
                        (e.g., exact title or author), she can look for that item using the library search facility.
                        <br>
                        <b>c)Linking capability:</b> If the user finds an item she is looking for and wants to find
                        similar items (e.g., by the same author), she can list those items with a single click.
                        <br>
                        <b>d)Filtering capability:</b> The user can filter the item listings (obtained from the above
                        three procedures) according to author.
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="sections">{% trans "What are the different sections I see on the E-Pustakalaya home page?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        <br>The E-Pustakaalya home page is divided into four quadrants:
                        <br>
                        <br>1. On the left lie links for the seven main sections of the library listed earlier. Each of
                        the seven main sections has a number of sub-sections that can be viewed after entering that
                        section. Users can browse through the collections (i.e., see a listing of the materials) in each
                        of these sections and subsections to look for materials they want. <br>
                        <br>2. The box on the right— सरसर्ती हेर्नुहोस — includes a link that allows users to browse
                        through the library collections according to the latest additions (“हालसालै थपिएका सामाग्री
                        अनुसार)”. In addition to this, there are direct links to the Maps, Video, School Wikipedia and
                        Nepali Dictionary pages; as well as to the latest version of E-Paath, OLE Nepal’s educational
                        activities package.<br>
                        <br>3.At the top of the home page is the search bar, which contains the search (“खोज”)and
                        advanced search (“विस्तृत खोज”) options. If users know the specifics of the item they are
                        looking for (e.g., part of the title or author name), they can search for that item directly by
                        entering a word or a string of words in the rectangular search field  and hitting the enter key.
                        (or alternatively, they can click on the magnifying glass icon). If There is a button right next
                        to the search bar that enables users to conduct an advanced search.. <br>
                        <br>4. The fourth section is the navigation bar right below the search bar. This bar contains a
                        link on the far left that allows users to log on to E-Pustakalaya with their registered
                        usernames. On the right, there is a link called “गृह पृष्ट” that redirects users to the home
                        page. Next to this is a link titled 'सुझाव' which takes users to the feedback form. On the far
                        right is the help (“सहयोग”) button that directs users to this users’ guide.<br>
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="how">{% trans "How do I use the browse, link and search feature of the library?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        <br>
                        <i>a)Browsing through the seven main sections:</i>

                        <br>(i)When you click on any of the main sections, you will see a page with the sub-sections for
                        that section. For example, if you want to see what is available under Nepali children's
                        literature, first click on the “Sahiyta” section. In the page that shows up, you will see a
                        number of subsections, one of which is “Nepali Baal Sahiya”.   Now clicking  on the “Nepali Baal
                        Sahiya”   link will display all the materials in that sub-section. The displayed list will
                        include the title and author of each item in the collection. This list is analogous to the
                        collections of books you see arranged in the book shelves of physical libraries.
                        <br>
                        <br>(ii)Now “pull out” the book you want to read by clicking on the book title. For example, if
                        you want to look at the book “Ko Thulo” by Srijan Sharma, just click on the displayed link to
                        this book. You will see a new page displaying details about the book—details you would find in
                        the first couple of pages of a physical book (e.g., title, author(s), publication date,
                        publisher etc.).
                        <br>
                        <br>(iii)In order to actually open the book and read it, you will need to click on the link to
                        the pdf file displayed under  “ Click here to Read/Download”.
                        <br>
                        <br>Depending on your browser configuration, the link will ask you to either save/open the file
                        or automatically open the file in a new browser window.In case you choose to save the file, then
                        you will have to go into the folder where you have saved it, and click on the file within that
                        folder which will open the book with a PDF reading software (such as Adobe Reader for PCs). In
                        case you choose to open the file directly, then you can save it onto your computer after it has
                        been opened.
                        <br>(iv) At any point while the user is browsing through E-Pustakalaya, if she wants to go to
                        any of the seven main sections, she can do so directly by simply clicking on the links for these
                        sections on the categories bar right above the content area.

                        <br>Note: You can also browse through the library collections in a similar manner by clicking on
                        the links under “सरसरी हेर्नुहोस” in the home page.
                        <br>
                        <br><i>b)Using the link feature:</i>
                        <br>Once you have gotten to step a (ii) described above, and want to browse through all the
                        books by Srijana Sharma just click on the “सिर्जना शर्मा” displayed in the author field. This
                        will take you to a new page with a list of books written, illustrated or edited by Srijana
                        Sharma.
                        <br>
                        <br><i>c)Using the search feature:</i>

                        <br>If you want to look for a specific item rather than just browse through the library
                        sections,.say you want to search for a book entitled “पुतलीको बिहे”, enter the title of the book
                        (or the partial title) in the rectangular search field on the left corner of the top most
                        navigation bar. Then click on the “खोज” button. This will lead you to the search results page,
                        which displays complete or partial results in a list with descending search relevance. In order
                        to obtain detailed information about the book, you can click on your chosen book. Then you can
                        proceed to open the book as explained in step a (iii).<br>

                        <i>Note: If you have more detailed information about the item and want to enter that information
                            to make the search more targeted, you can click on the “Advanced Search” button next to the
                            search field and proceed to fill the empty fields that show up. </i>
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="return">{% trans "How do  I return to the E-Pustakalaya home page from another page?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        <br>
                        Whenever you are in another page, you can return to the home page by clicking on the “Home” icon
                        that appears in the top right hand area of the navigation bar at the top of the page.
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="myself">{% trans "Why can't I set up a collection myself?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        The permissions to create collections within Pustakalaya communities are currently quite
                        limited. However, please contact Pustakalaya Administrator to discuss this issue. It is very
                        possible that you could be granted this right.
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="registered">{% trans "Why should I become a registered user?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        Becoming a registered user will allow you to have your own My Pustakalaya page, which will
                        contain books that you have selected. In addition to this, you will also be able to use the
                        bookmarking facility. By doing so, you can “bookmark” any book you choose, include it in your
                        page, and thus create a personalized library of your favourite books (upto 25). Additionally,
                        being a registered user will eventually allow you to make submissions to the library.
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a href="{% url 'feedback' %}"
                          name="feedback">{% trans "What is a feedback form? How do I use it?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        Link to the feedback form is titled “सुझाव” and is situated on the left side of the navigation
                        bar. The feedback form allows you to post comments, queries or suggestions to Pustakalaya
                        coordinators who will appropriately respond to them. All categories marked with asterisks (*)
                        are mandatory. You do not have to be a registered user to use the feedback form.
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b> <a href="#epaath" name="epaath">{% trans "What is E-Paath?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        E-Paath is an educational software developed by OLE-Nepal that includes lesson plans, classroom
                        activities, and exercises that are meant to supplement the national curriculum. There are
                        activities continuously being added, so please check for our latest activities.
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <b><a name="one">{% trans "ई-पुस्तकालय भनेको के हो ?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        ई-पुस्तकालय शिक्षाकेन्द्रित पुस्तकालय हो। यसमा दस्तावेज, किताब, पत्रपत्रिका, अडियो, भिडियो लगायत
                        साझा शिक्षा ई-पाटीद्वारा निर्मित राष्ट्रिय पाठ्यक्रममा आधारित अन्तर्क्रियात्मक ई-पाठ क्रियाकलाप
                        समेत समावेस गरिएका छन्। प्रयोगकर्ताहरूले ई-पुस्तकालयमा रहेका सामग्रीहरूलाई आन्तरिक-नेट
                        (intra-net) अथवा ईन्टरनेटको माध्यमबाट खोलेर अध्ययन गर्न, भिडियो हेर्न र अडियो पुस्तकहरू सुन्न
                        सक्दछन्। हाल ई-पुस्तकालयमा नेपाली र अङ्ग्रेजी भाषाका सङ्ग्रहहरूका साथै नेपालभित्र बोलिने अन्य
                        राष्ट्रिय भाषाका सामग्रीहरू समेत राखिएका छन्।
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="two">{% trans "यसका मुख्य कक्षहरू के-के हुन ?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        ई-पुस्तकालयभित्र ७ प्रमुख कक्षहरू छन् :
                        <b><br>१. साहित्य
                            <br>२. कला
                            <br>३. विषयगत पाठ्‍यसामग्री
                            <br>४. सन्दर्भ सामग्री
                            <br>५. अन्य शिक्षाप्रद सामग्री
                            <br>६. शिक्षण सामग्री
                            <br>७. पत्रपत्रिका
                            <br></b>
                        <br>यी हामीले सामान्य वा भौतिक पुस्तकालयमा देख्‍ने कक्षहरूजस्तै हुन् । प्रयोगकर्ता यी
                        सातओटामध्ये आफूलाई जान मनलागेको कक्षमा जान सक्नुहुन्छ र भौतिक पुस्तकालयको दराजमा राखिएका
                        सङ्ग्रहबाट किताब निकालेजस्तै गरी ई-पुस्तकालयको सङ्‍ग्रहबाट किताब ‘झिक्न’ सक्नुहुन्छ । <br>

                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="three">{% trans "ई-पुस्तकालयका के-के गर्न सकिन्छ ?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        ई-पुस्तकालयमा निम्न लिखित क्रियाकलापहरू गर्न सकिन्छ जसले गर्दा प्रयोगकर्तालाई किताब, दस्तावेज,
                        भिडियो, अडियो फाइल र चित्रहरू पढ्न, हेर्न र सुन्‍न सजिलो हुन्छ :
                        १. ब्राउजिङ : प्रयोकर्ताले आफूलाई चाहिएको सामग्री माथीका कक्षहरूमा घुम्दै खोज्न सक्नुहुन्छ जसलाई
                        ब्राउज गर्नु भनिन्छ ।
                        २. सर्चिङ : यदि प्रयोकर्तालाई आफूले खोजेको सामग्रीबारे ठ्‍याक्‍कै जानकारी छ भने पुस्तकालयमा भएको
                        ‘खोज’ सुविधाको प्रयोग गर्न सक्नुहुन्छ । जस्तै शिर्षक थाहा छ भने ‘खोज’ भन्‍ने खाली ठाउँमा शिर्षक
                        टाइप गरी उक्त सामग्री फेला पार्न सक्नुहुन्छ ।
                        ३. लिङकिङ : प्रयोगकर्ताले आफूले खोजेको सामग्री प्राप्‍त गरिसकेपछि त्यस्तै अन्य सामग्री खोज्ने
                        कार्यलाई लिङकिङ भनिन्छ । उदाहरणका लागि कुनै लेखकका अन्य किताबहरू हेर्नुपरेमा लेखकको नाममा क्लिक
                        गरेर नै ती किताबहरूको सूची पाउन सकिन्छ ।
                        ४. फिल्टरिङ : प्रयोगकर्ताले माथीका तीन प्रक्रियाबाट प्राप्‍त गरेका सामग्रीहरूको सूचीलाई लेखकका
                        आधारमा फिल्टर गर्न सक्नुहुन्छ ।
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="four">{% trans "ई-पुस्तकालयको होमपेजमा के-कस्ता खण्डहरू देखिन्छन् ?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        ई-पुस्तकालयको होमपेजलाई चारओटा चौथाइ भागमा विभाजन गर्न सकिन्छ :<br>
                        <br>१. बायाँपट्टीको भागमा ‘पुस्तकालयका मुख्य कक्षहरू’ देखिन्छन् जसमा यस अघि वर्णन गरिएअनुसार
                        पुस्तकालयका ७ कक्षहरू रहेका छन् । हरेक कक्षभित्र विभिन्‍न सहायक कक्षहरू छन् जसलाई सम्बन्धित
                        कक्षभित्र छिरेपछि देख्‍न सकिन्छ । प्रयोगकर्ताले हरेक कक्षभित्र छिरेर त्यहाँ राखिएका सङ्ग्रहहरू
                        (सामग्रीहरूको सूची) हेर्न सक्नुहुन्छ र सहायक कक्षबाट आफूले चाहेको सामग्री प्राप्‍त गर्न
                        सक्नुहुन्छ ।  <br>
                        <br>२. दायाँपट्टि ‘सरसर्ती हेर्नुहोस्’ नाम दिइएको भागबाट प्रयोगकर्ताले ‘हालसालै थपिएका सामग्री’
                        का साथै नक्सा, भिडियो, स्कूल विकिपीडिया, नेपाली शब्दकोष तथा सबै भन्दा नया ‘ई-पाठ क्रियाकलाप’ का
                        आधारमा ‘ब्राउज’ गर्न सक्नुहुन्छ।<br>
                        <br>३. तेस्रो भाग मुख्य पृष्टको सबै भन्दा माथीपट्टीको भाग हो जसलाई ‘सर्च बार’ पनि भनिन्छ। यस
                        खण्डको वायाँ भागमा ‘खोज’ र ‘विस्तृत खोजी’ का बटनहरू छन। यदि प्रयोगकर्तालाई आफूले खोजेको
                        सामग्रीको शिर्षकको कुनै अंश वा लेखकको नाम थाहा छ भने आयताकार खाली ठाउँमा सम्बन्धित शब्द वा
                        वाक्यांश टाइप गरी लेन्सको आइकनमा क्लिक गरेर त्यो सामग्री खोज्न सक्नुहुन्छ। यदि प्रयोगकर्तालाई
                        खोज्न चाहेको सामग्रीको बारेमा अझै राम्रो जानकारी छ भने लेन्सको आइकनको दायाँपट्टिको ‘विस्तृत खोज’
                        बटनको प्रयोग गरी खोज्न सक्नुहुन्छ।<br>
                        <br>४. चौथो भाग सर्च बारको मुनी छ र यसलाई ‘नेभिगेशन् बार’ पनि भनिन्छ। यस बारको सबै भन्दा वायाँको
                        भागमा ई-पुस्तकालयमा ‘लगईन’ गर्नकालागि एउटा लिङ्क छ। युजरनेम दर्ता गरिसकेका प्रयोगकर्ताहरूले
                        ‘लगईन’ बटनमा क्लिक गरी आफ्नै पुस्तकालय कक्षमा प्रवेश गर्न सक्नुहुन्छ। यस बारको दायाँ भागमा, ‘गृह
                        पृष्ट’ नामक बटन छ, जसले तपाईँलाई ई-पुस्तकालयको जुनसुकै पानाबाट पानि मुख्य पानामा लिएर आउनेछ।
                        त्यसकै नजिक नेभिगेशन् बारमा एउटा 'सुझाव’ लिङ्क छ, जहाँ क्लिक गरेर प्रयोगकर्ताले यस वेबसाईटको
                        बारे आफ्नो धारणा व्यक्त गर्न सक्नुहुन्छ। नाभिगेशन् बारको सबै भन्दा दायाँपट्टीको भागमा ‘सहयोग’
                        बटन छ, जसले तपाईँलाई यस युजर्स गाइडमा लिएर आउँछ।  <br>
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="five">{% trans "पुस्तकालयमा ब्राउज, लिङ्क र सर्च कसरी गर्ने ?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        क. प्रमुख ७ कक्षहरूमा ब्राउज गर्ने तरीका
                        <br>
                        <br>१. प्रमुख ७ कक्षहरूमध्ये कुनै एक कक्षमा क्लिक गरेपछि त्यस कक्षको पेज खुल्छ र सम्बन्धित
                        कक्षअन्तर्गतका सहायक कक्षहरू देखिन्छन् । उदाहरणका लागि यदि तपाईंलाई नेपाली बाल साहित्यअन्तर्गत
                        के-कस्ता सामाग्रीहरू उपलब्ध छन् भनी हेर्न मन लाग्यो भने सर्वप्रथम ‘साहित्य’ कक्षमा क्लिक
                        गर्नुहोस् । त्यसपछि खुल्ने पेजमा तपाईंले विभिन्‍न सहायक कक्षहरू देख्‍नुहुनेछ । तीमध्ये एउटा
                        ‘नेपाली बाल साहित्य’ हो । अब ‘नेपाली बाल साहित्य’को लिङ्‍कमा क्लिक गरेपछि त्यसअन्तर्गत रहेका
                        सम्पूर्ण सामग्रीको सूची देखिन्छ । सङ्ग्रह सूचीमा हरेक पुस्तकको शिर्षक र लेखकको नाम पनि देखिन्छ ।
                        यो सूची हामीले देख्‍ने भौतिक पुस्तकालयको दराजमा ब्यवस्थित गरी राखिएका पुस्तकहरूको सङ्ग्रहजस्तै
                        हो ।
                        <br>
                        <br>२. अब आफूलाई पढ्न मन लागेको किताब निकाल्न त्यस किताबको शिर्षकमा क्लिक गर्नुहोस् । उदाहरणका
                        लागि यदि तपाईंलाई सिर्जना शर्माबाट लिखित ‘को ठूलो’ किताब पढ्न मन लाग्यो भने त्यस किताबको
                        शिर्षकमा रहेको लिङ्‍कमा क्लिक गर्नुहोस् । त्यसपछि एउटा नयाँ पाना खुल्नेछ जसमा किताबका सुरुका
                        केहि पानाहरूमा देखिने विवरणहरू दिइएको हुन्छ, जस्तै किताबको शिर्षक, लेखक, प्रकाशक, प्रकाशन मिति
                        आदि ।
                        <br>
                        <br>३. किताबै खोलेर पढ्नका लागि भने तपाईंले “पढ्न/डाउनलोड गर्न यहाँ क्लिक गर्नुहोस्” अन्तर्गत
                        देखिने PDF फाइलको लिङ्‍कमा क्लिक गर्नुपर्छ । तपाईंको कम्प्युटरमा सेट गरिएको ‘ब्राउजर कनफिगरेशन’
                        को आधारमा किताब खुल्नु अघि कम्प्युटरले save/open भनी सोध्न पनि सक्छ अथवा त्यस्तो नसोधिकनै नयाँ
                        ब्राउजर विन्डोमा किताब पूरै खुल्न पनि सक्छ। यदि तपाईँले ‘save’  छान्नु भएको छ भने सेभ गरेको
                        सामग्रीलाई उपयुक्त फोल्डरमा गई त्यसको फाइलमा क्लिक गर्नुहोस्।
                        <br>
                        <br>४. ई-पुस्तकालयको कुनैपनि विन्डो ब्राउज गर्दा यदि तपाईँलाई पुस्तकालयका ७ मुख्य कक्ष मध्ये
                        कुनै अर्को कक्षमा जाने ईच्छा भयो भने तपाईँले नेभिगेशन् बार मुनीको काटेगोरिज बारमा रहेका
                        लिङ्कहरूबाट उपयुक्त कक्षमा सिधै जान सक्नु हुन्छ।
                        <br>
                        तपाईंको कम्प्युटरमा सेट गरिएको browser configuration को आधारमा किताब खुल्नु अगि कम्प्युटरले
                        save/open भनी सोध्न पनि सक्छ अथवा त्यस्तो नसोधिकनै नयाँ ब्राउजर विन्डोमा किताब पूरै खुल्न सक्छ ।

                        <br>नोट : तपाईंले माथिकै प्रक्रियाबाट होम पेजमा भएको ‘सरसरी हेर्नुहोस्’को लिङ्‍कबाट पनि
                        पुस्तकालयका सङ्‍ग्रहरूमा ब्राउज गर्न सक्नुहुन्छ ।
                        <br>
                        <br>ख. लिङ्‍क गर्ने तरीका
                        <br>
                        तपाईंले माथीको क(२) प्रक्रियाबाट कुनै एउटा किताब भेटिएपछि सम्बन्धित लेखकका अन्य किताबहरू पनि
                        हेर्न सक्नुहुन्छ । उदाहरणका लागि सिर्जना शर्माबाट लिखित अन्य किताबहरूको सूची चाहिएमा author
                        field मा दिइएको “सिर्जना शर्मा” मा क्लिक गर्नुहोस् । यसो गरेमा तपाईँ सिर्जना शर्माले लेखेको,
                        चित्र बनेको, अथवा सम्पादन गरेको सबै सामग्रीहरूको सुची भएको एउटा नयाँ पानामा पुग्नुहुन्छ।
                        <br>
                        <br>ग. सर्च गर्ने तरीका

                        <br>१. एकछिन्‍लाई मानौँ तपाईँ ‘पुतलीको बिहे’ नामको किताब खोज्न चाहनुहुन्छ । यसका लागि सर्च बारको
                        वायाँ कुनाको आयताकार खाली ठाउँमा चाहिएको किताबको शिर्षक, पूरै शिर्षक थाहा नभएमा शिर्षकको कुनै
                        अंश, टाइप गर्नुहोस् र लेन्सको आइकनमा क्लिक गर्नुहोस् । त्यसपछि सम्बन्धित किताबको विस्तृत विवरण
                        सर्च रिजल्ट पानामा देखिन्छ । अब तपाईंले माथीको क(३) मा बताएजस्तैगरी उक्त सामाग्री खोल्न
                        सक्नुहुन्छ ।
                        <br>नोट : यदि तपाईंसित आफूलाई चाहिएको सामग्रीको विस्तृत विवरण छ भने तपाईंले आफ्नो खोजीलाई अझ
                        निर्देशित बनाउन सक्नुहुन्छ । यसका लागि ‘विस्तृत खोज’मा क्लिक गरी त्यसपछि देखिने रिक्त स्थानहरूमा
                        उपयुक्त विवरण भरी सामाग्री खोज्न सक्नुहुन्छ ।
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b> <a name="six">{% trans "ई-पुस्तकालयको कुनै पनि अर्को पेजबाट होमपेजमा कसरी फर्कने ?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        पाईं ई-पुस्तकालयको अर्को कुनै पेजमा हुनुहुन्छ भने होमपेजमा फर्कनका लागि त्यस पेजको माथी दायाँ
                        कुनामा भएको घरको चित्र भएको “गृह पृष्ठ” आइकनमा क्लिक गर्नुहोस् ।
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="#">{% trans "किन आफैले ई-पुस्तकालयको सङ्ग्रहमा सामाग्री राख्‍न सकिदैँन ?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        हाल पुस्तकालयमा सामग्री थप्ने अनुमति पुस्तकालयको जिम्मेबार व्यक्तिहरूलाई मात्र दिइएको छ । यस
                        सम्बन्धमा छलफल गर्न चाहनुहुन्छ भने कृपया पुस्तकालय प्रशासनसँग सम्पर्क गर्नुहोस् । उहाँहरूले
                        तपाईंलाई सामग्री थप्ने अनुमति दिन पनि सक्नुहुन्छ । पुस्तकालय प्रशासनसँग सम्पर्क गर्नलाई मन्तब्य
                        दिने फारमको प्रयोग गर्न सकिन्छ।
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a name="seven">{% trans "रेजिस्टर्ड युजर किन बन्ने?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        रेजिस्टर्ड युजर बनेमा तपाईँले ई-पुस्तकालयका थप सुबिधाहरू उपयोग गर्न सक्नुहुन्छ। यस द्वारा
                        तपाईँले “bookmarking” को सुबिधा प्रयोग गरेर आफूलाई मन परेको किताबहरूलाई पुस्तकालयको ‘मेरो
                        पुस्तकालय’ पानामा राख्‍न सक्नुहुन्छ। यसका साथै, आगामी दिनहरूमा रेजिस्टर्ड युजरहरूले थप सुबिधाको
                        उपयोग पानि गर्न सक्नुहुनेछ।
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a href="{% url 'feedback' %}"
                          name="eight">{% trans "'सुझाव’ भनेको के हो? यसको प्रयोग कसरी गर्ने?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        ‘सुझाव’ भन्ने लिङ्क तपाईँले नेभिगेशन बार को दायाँपट्टी फेला पार्न सक्नुहुन्छ। यस लिङ्कमा क्लिक
                        गर्नुभएमा तपाईँ एउटा नया पानामा पुग्नुहुन्छ। त्यहाँ भएको फारम भरेर तपाईँले ई-पुस्तकालयको बारेमा
                        आफ्नो सुझाव व्यक्त गर्न सक्नुहुनेछ। सुझाव दिने फारम प्रयोग गर्नलाई रेजिस्टर्ड युजर हुनु आवश्यक
                        छैन।
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
                <div>
                    <b><a href="#" name="nine">{% trans "ई-पाठ भनेको के हो?" %}</a></b>
                    <br>
                    <p class="text-justify">{% blocktrans %}
                        ई-पाठ साझा शिक्षा ई-पाटी नेपालले, निर्माण गरेको एउटा शिक्षण सफ्टवेयर हो। यस सफ्टवेयर अन्तर्गत
                        शैक्षिक क्रियाकलाप र पाठ योजनाहरू छन् जसले राष्ट्रिय पाठ्यक्रमलाई थप सहयोग पुर्‍याउँछन्।
                    {% endblocktrans %}
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}




