{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<!--pustakalaya help-->
<div class="for-bg-color-container " >
        <div class="container  pt-4 ">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0">
        <br>
        <h6 class="text-uppercase">e-pustakalaya faqs</h6>
      <a href="#what">{% trans "What is E-Pustakalaya?" %}</a>
      <br>
      <a href="#who">{% trans "What are the major sections" %}</a>
      <br>
      <a href="#help">{% trans "What features does E-Pustakalaya have?" %}</a>
      <br>
      <a href="#sections">{% trans "What are the different sections I see on the E-Pustakalaya home page?" %}</a>
      <br>
      <a href="#how">{% trans "How do I use the browse, link and search feature of the library?" %}</a>
      <br>
      <a href="#return">{% trans "How do I return to the E-Pustakalaya home page from another page?" %}</a>
      <br>
      <a href="#myself">{% trans "Why can't I set up a collection myself?" %}</a>
      <br>
      <a href="#registered">{% trans "Why should I become a registered user?" %}</a>
      <br>
      <a href="#feedback">{% trans "What is a feedback form? How do I use it?" %}</a>
      <br>
      <a href="#epaath">{% trans "What is E-Paath?" %}</a>
        <br>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0" >
          <br>
        <b><a name="what">{% trans "What is E-Pustakalaya?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
          E-Pustakalaya is an education-focused digital library containing full-text documents, images,
          videos
          and audio files that can be accessed through an intranet or the internet.E-Pustakalaya users can
          read books, view videos, learn through interactive activites and listen to audio clips.
          E-Pustakalaya holds collections in Nepali, English and other
          languages of Nepal.
          {% endblocktrans %}
        </p>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0"   >
          <br>
        <b><a name="who">{% trans "What are the major sections?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
          There are seven major sections in E-Pustakalaya:
        <ol>
          <li>
            <b>Literature</b> – This section includes Nepali and English literature
            categorized by language and
            age group. In the future, we also intend to add literature in other Nepali languages and
            to add
            filtering by genre
            and other characteristics.
          </li>
          <li>
            <b>Art</b> – This section includes books and materials on different art forms,
            movements and artists,
            along with a diverse array of hands on material that will be very useful for children
            wishing to
            engage in arts and
            crafts activities that are at the same time educational.
            <br>
          </li>
          <li>
            <b>Course-related materials</b> – This section includes public
            school textbooks, as
            well as supplementary reading material by subject and grade, along with subject and
            grade wise
            interactive learning
            material.
            <br>
          </li>
          <li>
            <b>Reference materials</b> – This section currently contains a Nepali
            dictionary,
            encyclopedias (in particular, the School Wikipedia), atlases, maps, as well as
            government
            documents. This section is
            particularly relevant to those users seeking material for research projects or general
            information on topics of a
            wide range.
            <br>
          </li>
          <li>
            <b>Teaching support materials</b> – This section includes material such as
            the national school
            curriculum, teaching manuals, teacher training materials, readings on educational
            theory,
            supplementary readings,
            and links to peer-interaction sites all intended to aid teachers in making lesson plans
            and
            strengthening their
            overall foundation of knowledge.
            <br>
          </li>
          <li>
            <b>Newspapers and magazines</b> – This section includes links to key Nepali
            newspapers and
            magazines.
            <br>
          </li>
          <li>
            <b>Other educational materials</b> – This section has educational
            material that is
            not curriculum based. It includes awareness building and advocacy related materials on a
            wide
            range of topics such
            as health and environment, youth development, civic education and disaster preparedness.
            <br>
          </li>
          <br>These sections are analogous to the different sections you see in physical libraries.
          The
          user can enter any of
          these sections and browse through the collections just like you browse through the book
          collections displayed in the
          shelves of a physical library.
        </ol>
        {% endblocktrans %}
        </p>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0"  >
        <br>
        <b><a name="help">{% trans "What features does E-Pustakalaya have?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
        <ol type="a">
          E-Pustakalaya has four powerful features that make it easy for the user to access books,
          documents, videos, audio files, and images:
          <li>
            <b>Browsing capability:</b> The user can browse through the seven major sections looking
            for
            items she likes, or she can also browse by author, subject, date and keyword.
          </li>
          <br>
          <li>
            <b>Searching capability:</b> If the user knows the specifics about the item she is looking
            for
            (e.g., exact title or author), she can look for that item using the library search facility.
          </li>
          <br>
          <li>
            <b>Linking capability:</b> If the user finds an item she is looking for and wants to find
            similar items (e.g., by the same author), she can list those items with a single click.
          </li>
          <br>
          <li>
            <b>Filtering capability:</b> The user can filter the item listings (obtained from the above
            three procedures) according to author.
          </li>
          {% endblocktrans %}
        </ol>
        </p>
      </div>
  </div>
  <br>
  <div class="row">
      <br>
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0"  >
        <b><a name="sections">{% trans "What are the different sections I see on the E-Pustakalaya home page?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
        <ol>
          The E-Pustakaalya home page is divided into four quadrants:
          <li>On the left lie links for the seven main sections of the library listed earlier. Each of
            the seven main sections has a number of sub-sections that can be viewed after entering
            that
            section. Users can browse through the collections (i.e., see a listing of the materials)
            in each
            of these sections and subsections to look for materials they want.
          </li>
          <br>
          <li>
            The box on the right— read more — includes a link that allows users to browse
            through the library collections according to the latest additions. In addition to this,
            there
            are direct links to the Maps, Video, School Wikipedia and
            Nepali Dictionary pages; as well as to the latest version of E-Paath, OLE Nepal’s
            educational
            activities package.
          </li>
          <br>
          <li>
            At the top of the home page is the search bar, which contains the search and
            advanced search options. If users know the specifics of the item they are
            looking for (e.g., part of the title or author name), they can search for that item
            directly by
            entering a word or a string of words in the rectangular search field and hitting the
            enter key.
            (or alternatively, they can click on the magnifying glass icon). If There is a button
            right next
            to the search bar that enables users to conduct an advanced search..
          </li>
          <br>
          <li>
            The fourth section is the navigation bar right below the search bar. This bar
            contains a
            link on the far left that allows users to log on to E-Pustakalaya with their registered
            usernames. On the right, there is a link called “home page” that redirects users to the
            home
            page. Next to this is a link titled 'feedback' which takes users to the feedback form.
            On the
            far
            right is the help button that directs users to this users’ guide.
          </li>
        </ol>
        {% endblocktrans %}
        </p>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0">
        <br>
        <b><a name="how">{% trans "How do I use the browse, link and search feature of the library?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
        <ol type="a">
          <li><i>Browsing through the seven main sections:</i></li>
          <ol type="i">
            <li>When you click on any of the main sections, you will see a page with the
              sub-sections for
              that section. For example, if you want to see what is available under Nepali
              children's
              literature, first click on the “Sahiyta” section. In the page that shows up, you
              will see a
              number of subsections, one of which is “Nepali Baal Sahiya”. Now clicking on the
              “Nepali Baal
              Sahiya” link will display all the materials in that sub-section. The displayed list
              will
              include the title and author of each item in the collection. This list is analogous
              to the
              collections of books you see arranged in the book shelves of physical libraries.
            </li>
            <br>
            <li>Now “pull out” the book you want to read by clicking on the book title. For example,
              if
              you want to look at the book “Ko Thulo” by Srijan Sharma, just click on the
              displayed link to
              this book. You will see a new page displaying details about the book—details you
              would find in
              the first couple of pages of a physical book (e.g., title, author(s), publication
              date,
              publisher etc.).
            </li>
            <br>
            <li>In order to actually open the book and read it, you will need to click on the link
              to
              the pdf file displayed under “ Click here to Read/Download”.

              Depending on your browser configuration, the link will ask you to either
              save/open the file
              or automatically open the file in a new browser window.In case you choose to save
              the file, then
              you will have to go into the folder where you have saved it, and click on the file
              within that
              folder which will open the book with a PDF reading software (such as Adobe Reader
              for PCs). In
              case you choose to open the file directly, then you can save it onto your computer
              after it has
              been opened.
            </li>
            <br>
            <li>At any point while the user is browsing through E-Pustakalaya, if she wants to go to
              any of the seven main sections, she can do so directly by simply clicking on the
              links for these
              sections on the categories bar right above the content area.
          </ol>
          Note: You can also browse through the library collections in a similar manner by
          clicking on
          the links under “Read more” in the home page.
          <br>
          </li>

          <li><i>Using the link feature:</i><br></li>
          <br>
          Once you have gotten to step a (ii) described above, and want to browse through all the
          books by Srijana Sharma just click on the “Srijana Sharma” displayed in the author field.
          This
          will take you to a new page with a list of books written, illustrated or edited by Srijana
          Sharma.

          <li><i>Using the search feature:</i><br></li>
          <br>

          If you want to look for a specific item rather than just browse through the library
          sections,.say you want to search for a book entitled “putaliko bihe”, enter the title of the
          book
          (or the partial title) in the rectangular search field on the left corner of the top most
          navigation bar. Then click on the “search” button. This will lead you to the search results
          page,
          which displays complete or partial results in a list with descending search relevance. In
          order
          to obtain detailed information about the book, you can click on your chosen book. Then you
          can
          proceed to open the book as explained in step a (iii).
          <i>Note: If you have more detailed information about the item and want to enter that
            information
            to make the search more targeted, you can click on the “Advanced Search” button next to
            the
            search field and proceed to fill the empty fields that show up. </i>
        </ol>
        {% endblocktrans %}
        </p>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0" >
        <br>
        <b><a name="return">{% trans "How do I return to the E-Pustakalaya home page from another page?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
          Whenever you are in another page, you can return to the home page by clicking on the “Home” icon
          that appears in the top right hand area of the navigation bar at the top of the page.
          {% endblocktrans %}
        </p>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0">
        <br>
        <b><a name="myself">{% trans "Why can't I set up a collection myself?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
          The permissions to create collections within Pustakalaya communities are currently quite
          limited. However, please contact Pustakalaya Administrator to discuss this issue. It is very
          possible that you could be granted this right.
          {% endblocktrans %}
        </p>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0" >
        <br>
        <b><a name="registered">{% trans "Why should I become a registered user?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
          Becoming a registered user will allow you to have your own My Pustakalaya page, which will
          contain books that you have selected. In addition to this, you will also be able to use the
          bookmarking facility. By doing so, you can “bookmark” any book you choose, include it in your
          page, and thus create a personalized library of your favourite books (upto 25). Additionally,
          being a registered user will eventually allow you to make submissions to the library.
          {% endblocktrans %}
        </p>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0" >
        <br>
        <b><a href="{% url 'feedback' %}"
              name="feedback">{% trans "What is a feedback form? How do I use it?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
          Link to the feedback form is titled “feedback” and is situated on the left side of the
          navigation bar. The feedback form allows you to post comments, queries or suggestions to Pustakalaya
          coordinators who will appropriately respond to them. All categories marked with asterisks (*)
          are mandatory. You do not have to be a registered user to use the feedback form.
          {% endblocktrans %}
        </p>
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 jumbotron pt-3 pb-3 mb-0">
        <br>
        <b> <a href="#epaath" name="epaath">{% trans "What is E-Paath?" %}</a></b>
        <p class="text-justify">{% blocktrans %}
          E-Paath is an educational software developed by OLE-Nepal that includes lesson plans, classroom
          activities, and exercises that are meant to supplement the national curriculum. There are
          activities continuously being added, so please check for our latest activities.
          {% endblocktrans %}
        </p>
      </div>
  </div>
    <br>
</div>
</div>
{% endblock content %}




