<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load analytical %}
{% load google_analytics %}

<html lang="en"  >

<head >
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'base_assets/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'base_assets/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{%  trans "Pustakalaya" %} | {% block title %} {% trans "homepage" %}{% endblock title %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>

    {% block style %}




        <!-- CSS Files -->
        {# {% include '_partials/css.html' %}#}
            <link rel="stylesheet" href="{% static 'base_assets/css/base.css' %}" type="text/css">
           <!--     Fonts and icons     -->
         <link rel="stylesheet" href="{% static 'base_assets/css/font-awesome.min.css' %}" type="text/css"/>
        <!-- load flag css -->
        <!-- TODO: Merge flag-icon.min.css in base.css -->
        <link rel="stylesheet" href="{% static 'base_assets/css/flag-icon.min.css' %}" type="text/css">
        <!-- TODO: CSS Just for demo purpose, don't include it in your project -->
        <link rel="stylesheet" href="{% static 'base_assets/css/pustakalaya.css' %}">
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
          <style>
          .socialaccount_providers {list-style: none;}
          .socialaccount_providers li{display: inline;margin-right:12px;}
          </style>

    {% endblock style %}
{% google_analytics %}
</head>

<body class="background-color">
<!-- Navigation -->
{% include '_partials/navbar.html' %}

<!-- Content -->
{% block content %}

{% endblock content %}

<!-- Footer -->
{% include '_partials/footer.html' %}
</body>
{% block script %}
    {% include '_partials/js.html' %}
    <script type="text/javascript">
        $(document).ready(function () {
            // the body of this function is in assets/js/now-ui-kit.js
            nowuiKit.initSliders();
        });

        function scrollToDownload() {

            if ($('.section-download').length != 0) {
                $("html, body").animate({
                    scrollTop: $('.section-download').offset().top
                }, 1000);
            }
        }
    </script>

     <!-- jquery ui -->
         <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js" defer></script>

<script>
  $(".facebook").removeClass('fa text-primary fa-2x fa-facebook');
  $(".facebook").addClass('fa text-primary fa-2x fa-facebook');
  $(".facebook").text('');

  $(".twitter").removeClass('fa text-info fa-2x fa-twitter');
  $(".twitter").addClass('fa text-info fa-2x fa-twitter');
  $(".twitter").text('');

  $(".google").removeClass('fa text-danger fa-2x fa-google');
  $(".google").addClass('fa text-danger fa-2x fa-google');
  $(".google").text('');
</script>
{% endblock script %}


</html>
