{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load pustakalaya_filters %}

{% block title %}
{% trans "homepage" %}
{% endblock title %}

{% block content %}
<!--search-->
<div class="container">
  <!-- search -->
  <div class="row">
    <div class="col-md-2 hidden-xs hidden-sm"></div>
    <div class="col-md-8 col-xs-12 col-sm-12">
      <form action="/search" method="GET">
        <div class="input-group">

          <select class="custom-select">
            <option selected>Categories</option>
            <option value="1">Books</option>
            <option value="2">Audios</option>
            <option value="3">Videos</option>
          </select>


          <input class="form-control border-right-0" type="search" name="q" value="" placeholder="Search">
          <span class="input-group-addon bg-white border-left-0"><i
            class="mt-0 fa fa-search fa-pull-right"></i></span>
        </div>
        <!--<div class="col">

        </div>-->
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
  <!-- Browse by -->
  <div class="row">
    <div class="col-md-3 col-xs-12 col-sm-12">

      <!--pustakalaya browse by option-->
      <h5 class="description text-uppercase">{% trans "Browse" %}</h5>
      <p class="">
        <a href="{% url 'community:community_detail' 'literatures-and-arts' %}" class="text-capitalize">
          <i class="fa fa-book" aria-hidden="true"></i>{% trans " literaures and Art" %}</a>
      </p>
      <p>
        <a href="{% url 'community:community_detail' 'course-materials' %}" class="text-capitalize">
          <i class="fa fa-desktop" aria-hidden="true"></i>{% trans " Course Materials" %}</a>
      </p>
      <p>
        <a href="" class="text-capitalize">
          <i class="fa  fa-flask" aria-hidden="true"></i>{% trans "Teaching Materials" %}</a>
      </p>
      <p>
        <a href="" class="text-capitalize">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>{% trans "Reference Materials" %}</a>
      </p>
      <p>
        <a href="" class="text-capitalize">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>{% trans "Newspapers & Magazines" %}</a>
      </p>
      <p>
        <a href="" class="text-capitalize">
          <i class="fa fa-hdd-o" aria-hidden="true"></i>{% trans "Other Educational Materials" %}
        </a></p>
      <p>
        <a href="" class="text-capitalize">{% trans "All Categories" %}</a></p>
      <p>
        <a href="" class="text-capitalize">{% trans "All Titles" %} | {% trans "Authors" %}</a></p>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">

      <a href="">
        <img class="img-responsive mt-2 mr-2" src="{% static 'base_assets/img/1.jpg' %}" width="150px"
             height="200px"/>
      </a>

      <a href=""><img class="img-responsive mt-2 mr-2" src="{% static 'base_assets/img/2.jpg' %}"
                      width="150px"
                      height="200px"/></a>
      <a href=""> <img class="img-responsive mt-2 mr-2" src="{% static 'base_assets/img/3.jpg' %}"
                       width="150px"
                       height="200px"/></a>
      <a href=""> <img class="img-responsive  mt-2 mr-2" src="{% static 'base_assets/img/4.jpg' %}"
                       width="150px"
                       height="200px"/></a>
      <a href=""><img class="img-responsive  mt-2 mr-2" src="{% static 'base_assets/img/5.jpg' %}"
                      width="150px"
                      height="200px"/></a>
      <a href=""><img class="img-responsive  mt-4 mr-2" src="{% static 'base_assets/img/6.jpg' %}"
                      width="150px"
                      height="200px"/></a>
      <a href=""><img class="img-responsive  mt-4 mr-2" src="{% static 'base_assets/img/7.jpg' %}"
                      width="150px"
                      height="200px"/></a>
      <a href=""><img class="img-responsive  mt-4 mr-2" src="{% static 'base_assets/img/book.png' %}"
                      width="150px"
                      height="200px"/></a>
      <a href=""><img class="img-responsive mt-4 mr-2" src="{% static 'base_assets/img/2.jpg' %}"
                      width="150px"
                      height="200px"/></a>
      <a href=""> <img class="img-responsive mt-4 mr-2" src="{% static 'base_assets/img/3.jpg' %}"
                       width="150px"
                       height="200px"/></a>
    </div>
  </div>
  <!-- Education section -->
  <div class="row">
    <div class="mt-4">
      <h5 class="mb-4 description text-uppercase">{% trans "Educational Softwares" %}</h5>
      <a href="http://pustakalaya.org/epaath/" target="_blank">
        <img class="img-responsive mr-5" src="{% static 'base_assets/img/epaath.png' %}" width="140px"
             height="160px"/>
      </a>
      <a href=""><img class="img-responsive mr-5" src="{% static 'images/logos/phet.png' %}" width="140px"
                      height="160px"/></a>
      <a href=""><img class="img-responsive mr-5" src="{% static 'images/logos/elearning.png' %}"
                      width="150px"
                      height="180px"/></a>
      <a href=""><img class="img-responsive mr-5" src="{% static 'base_assets/img/klite.png' %}" width="140px"
                      height="160px"/></a>
      <a href=""><img class="img-responsive mr-5" src="{% static 'base_assets/img/ ' %}" width="140px"
                      height="160px"/></a>
    </div>

    <!--Reference materials-->
    <div class="mt-4">
      <h5 class="mb-4 description text-uppercase">{% trans "Reference Materials" %}</h5>
      <a href=""><img class="img-responsive mr-2" src="{% static 'base_assets/img/wiktionary.png' %}"
                      width="140px"
                      height="160px"/></a>
      <a href=""><img class="img-responsive mr-2" src="{% static 'base_assets/img/openstreet.jpg' %}"
                      width="140px"
                      height="160px"/></a>
      <a href=""><img class="img-responsive mr-2" src="{% static 'base_assets/img/ ' %}" width="140px"
                      height="160px"/></a>
      <a href=""> <img class="img-responsive mr-2" src="{% static 'base_assets/img/ ' %}" width="140px"
                       height="160px"/></a><br/><br/>

      <!--description about pustakalaya-->
      <div>
        <p>{% blocktrans %}
          E-Pustakalaya is an education-focused digital library containing full-text documents, images,
          videos and
          audio files that can be accessed through an intranet or the internet. The user can either read
          documents, view
          videos, and listen to audio clips directly from the E-library server or she can download these
          materials to
          her personal computer and view them later. E-Pustakalaya holds collections in both Nepali and
          English
          languages. In the future, we will also add materials in other national languages of
          Nepal. {% endblocktrans %}
          <a href="#">{% trans "Read More" %}</a> ...
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
