{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <span mr-5>Total {{ response.hits.total }}</span>
            </div>
            <div class="col-md-6">
                 {% include "_partials/sorting_form.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                {% include '_partials/list_display.html' %}
            </div>

        </div>
    </div>
{% endblock content %}
