{%  extends 'dashboard/base.html' %}
{%  load crispy_forms_tags %}
{%  block content %}
    <div class="container">
        <div class="col-md-8">
            <form action="." method="post" enctype="multipart/form-data">
             {% csrf_token %}
            {{ audio_form  | crispy }}
                <!-- fileupload form -->
                {{ audio_file_upload_form | crispy }}
              <input type="submit" value="Create Audio" class="btn btn-primary">
            </form>
        </div>
    </div>
{%  endblock content %}
