{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="container min_height_author_detail">
        <h1 class="lead">{% trans "Sign Out" %}</h1>

        <p class="text-danger">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-danger">{% trans 'Sign Out' %}</button>
        </form>

    </div>

{% endblock %}
