{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}
{% load pustakalaya_filters %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container min_height_author_detail">

        <p class="description lead">{% trans "Password Reset" %}</p>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="text-dark description">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <div class="row">
            <div class="col-md-7">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-primary btn-sm" value="{% trans 'Reset My Password' %}"/>
                </form>
            </div>
        </div>
        <p class="lead text-info">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}
