{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="container min_height_document_detail paragraph-font">
        <p class="lead">{% trans "Verify Your E-mail Address" %}</p>

        <p class="text-dark text-capitalize">{% blocktrans %}We have sent an e-mail to you for verification. Follow the
            link provided to finalize the signup process. Please contact us if you do not receive it within a few
            minutes.{% endblocktrans %}</p>

    </div>
{% endblock %}
