{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% endblock title %}

{% block content %}
    <!-- Breadcums -->

    <div class="container min_height_author_detail pt-4">
        <div class="row">
            <div class="col-md-12">
                <!-- breadcums -->
                <p class="text-capitalize">
                  {%  trans "Books by" %}<b>&nbsp;{{ author }}</b>

                </p>
                <div class="text-capitalize ">
                    <div class="row">
                        <div class="col-md-8"><small>{% trans "total available" %}: {{ response.hits.total }}</small></div>
                        <div class="col-md-4">
                            {% trans "Sort by" %}
                            {% include "_partials/sorting_form.html" %}
                        </div>
                    </div>
                    <!-- small form to sort data -->
                </div>
            </div>
        </div>
        <hr/>


        <div class="row">
            {% include '_partials/list_display.html' %}
            <!-- include pagination -->
            {% include '_partials/pagination.html' %}
        </div>
    </div>
{% endblock content %}
