{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% endblock title %}

{% block content %}
    <!-- Breadcums -->

    <div class="container min_height pt-4">
        <div class="row">
            <div class="col-md-12">
                <!-- breadcums -->
                <p class="text-capitalize">
                    {% trans "keyword" %}:
                    <a style="text-decoration:none;"
                       class="text-capitalize"
                       href="">
                        {{ keyword }}

                    </a>

                </p>

                <div class="text-capitalize">
                    <div class="row">
                        <div class="col-md-8">{% trans "total available" %}: {{ response.hits.total }}</div>
                        <div class="col-md-4">
                            <span>{% trans "Sort by" %}</span>
                            {% include "_partials/sorting_form.html" %}
                        </div>
                    </div>
                    <!-- small form to sort data -->

                </div>

            </div>
        </div>
        <hr/>


        <div class="row min_height">
            {% include '_partials/list_display.html' %}
            <!-- include pagination -->
            {%  include '_partials/pagination.html' %}
        </div>
    </div>
{% endblock content %}
