{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% endblock title %}

{% block content %}
    <!-- Breadcums -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- breadcums -->
                <p class="text-capitalize">
                    {% trans "keyword" %}:
                    <a style="text-decoration:none;"
                       class="text-capitalize"
                       href="">
                        {{ keyword }}

                    </a>

                </p>

                <div class="text-capitalize">
                    <div class="row">
                        <div class="col-md-8">{% trans "total available" %}: {{ response.hits.total }}</div>
                        <div class="col-md-4">
                            <span>{% trans "Sort by" %}</span>
                            <form action="" style="display:inline-block">
                                <select class="default" name="sort_by">
                                    <option class="text-capitalize" value="title"
                                    >{% trans "Title" %}</option>
                                    <option class="text-capitalize"
                                            value="Updated_date"
                                    >{% trans "updated date" %}</option>
                                    <option class="text-capitalize" value="rating"
                                    >{% trans "Rating" %}</option>


                                </select>
                                <!-- sort based on descendingascending -->
                                <select class="default" name="sort_order">
                                    <option class="text-capitalize" value="asc" selected="selected"
                                    >{% trans "Ascending" %}</option>
                                    <option class="text-capitalize" value="desc">{% trans "Descending" %}</option>
                                </select>
                            </form>

                        </div>
                    </div>
                    <!-- small form to sort data -->

                </div>

            </div>
        </div>
        <hr/>


        <div class="row">
            <div class="col-md-12">
                {% for hit in response %}
                    <ul class="list-unstyled">
                    <li class="media mb-3">
                        <span class="mr-2">{{ forloop.counter }}.</span>
                        <img class="mr-3 rounded" src="{{ MEDIA_URL }}{{ hit.thumbnail }}"
                             width="64px"
                             height="80px"
                             title="{{ hit.title }}"
                             alt="{{ hit.title }}">
                        <div class="media-body">
                            <p class="text-capitalizemt-0 mb-1">
                                <a class="text-capitalize"
                                   href="{% url hit.type|add:":detail" hit.title|slugify hit.id %}">{{ hit.title }}</a>
                            </p>
                            <p class="text-dark text-capitalize">{{ hit.abstract | truncatechars:"30" }}</p>

                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
