{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load ratings %}
{% load pustakalaya_filters %}
{% load hitcount_tags %}

<!-- override some css -->
{% block style %}
    {{ block.super }}
    <style>
        /* Some css to override styles */
        /* TODO: move this css to pustakalaya.css */
        .border-line {
            padding-top: 5px;
            padding-bottom: 5px !important;
            padding-left: 3px;
            border-top: 1px solid #dddddd;
        }

        .border-line span {
            display: inline-block;
            width: 300px;

        }

    </style>


{% endblock style %}

{% block content %}
    <div>
        <div class="container  pt-4">
            <div class="row">

                <div class="col-md-3 col-sm-12  col-xs-12">
                    <!-- Logo -->
                    <img class="img-responsive rounded w-100" height="300px" src="{{ MEDIA_URL }}{{ object.thumbnail }}"
                         alt="{{ object.title }}" title="{{ object.title }}">
                    {% for document in object.documentfileupload_set.all %}
                           <div class="text-center">
                        <a href="{{ MEDIA_URL }}{{ document.upload }}" target="_blank"
                           class="pull-left pr-5 pl-4 pt-2 pb-2 mt-2 mr-4 text-white bg-primary text-capitalize "><span class="fa fa-download"></span>&nbsp;{% trans 'download ' %}</a>


                        {% if document.total_pages >= 1 %}
                        <a class="pull-left ml-1 pr-5 pl-5 pt-2 pb-2 mt-2 text-white bg-primary text-capitalize" href="{% url 'document:flipbook' document.pk %}#viewCenter"><span class="fa fa-book"></span>&nbsp;{% trans 'read' %}</a>
                        {% endif %}
                          </div>


                        <p class="pull-left text-dark text-center mr-4 mt-3 ">
                            {% trans "File size: " %}{{ document.upload.size | file_size_format }}</p>
                    {% endfor %}

                    <!-- show count -->
                    <p class="pull-left bg-blue text-dark text-center  mt-3">Views:<span>&nbsp;{{ hitcount.total_hits }}</span></p>
                    <!-- Rating -->

                    {% ratings object %}
                    <!-- share buttons section -->
                    <section class="pull-left share-buttons text-center">
                        <a class="share-facebook p-1 btn btn-md bg-white"
                           href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                            <span class="hidden"><i class="fa fa-3x fa-facebook-square"
                                                    style="color: #2980b9 !important;"></i></span>
                        </a>
                        <a class="share-twitter p-1 btn btn-md bg-white text-primary"
                           href="http://twitter.com/share?text={{ article.title }}&url={{ request.build_absolute_uri|urlencode }}"
                           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span class="hidden"> <i class="fa  fa-3x fa-twitter"></i></span>
                        </a>
                        <a class="share-google-plus p-1 btn btn-md bg-white"
                           href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}"
                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <span class="hidden"> <i class="fa fa-3x fa-google-plus"
                                                     style="color:#c0392b !important;"></i></span>
                        </a>
                        <a class="share-linkedin p-1 btn btn-md bg-white" style="color: #2980b9; !important;"
                           href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.get_full_path|urlencode }}&title={{ object.title }}&summary={{ object.description }}&source={{ request.build_absolute_uri|urlencode }}"
                           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                            <span><i class="fa fa-3x fa-linkedin"></i></span>
                        </a>
                    </section>
                </div>


                <div class="col-md-9 col-sm-12 col-xs-12">
                    <!-- title of a document -->
                    <h4 class="text-capitalize h4 lead mt-0 pt-0 description text-dark">{{ object.title }}</h4>
                    <!-- author section -->
                    <div class="pb-1">
                        <!-- Authors -->
                        <!-- TODO pluralization -->
                        <!--strong class="text-capitalize font-weight-normal">{% trans "Authors:" %}</strong-->
                        {% for author in object.document_authors.all %}
                            <a href="{% url 'author:author_detail' author.getname|slugify author.pk %}"><span
                                    class="text-dark text-capitalize text-primary">
                                {{ author }}
                                {% if forloop.counter != object.document_authors.count %}|{% endif %}
                            </span></a>

                        {% endfor %}

                    </div>

                    <!-- Illustrator section -->
                    <div class="pb-1">
                        <!-- Authors -->
                        <!-- TODO pluralization -->
                        <!--strong class="text-capitalize font-weight-normal text-dark">{% trans "Illustrators:" %}</strong-->
                        {% for author in object.document_illustrators.all %}
                            <span class="text-dark text-capitalize">{{ illustrator }}</span>
                        {% endfor %}


                    </div>
                    <!-- abstract -->
                    <!-- abstract of a document -->
                    <div>

                        <span class="text-justify text-dark"
                                {% if not object.abstract %}
                              style="display: none"
                                {% endif %}>
                            {{ object.abstract }}</span>

                    </div>

                    <br>
                    <!-- Metadata section -->
                    <div class="row">
                        <!-- Left half section -->
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <!-- author section -->
                            <div class="pb-1 border-line"
                                    {% if not object.document_authors.all %}
                                 style="display: none;"
                                    {% endif %}>
                                <!-- Authors -->
                                <!-- TODO pluralization -->
                                <span class="capitalize font-weight-normal text-dark">{% trans "Authors:" %}</span>
                                {% for author in object.document_authors.all %}
                                    <span class="text-dark text-capitalize">{{ author }}</span>
                                {% endfor %}

                            </div>

                            <!-- Illustrator section -->
                            <div class="pb-1 border-line"
                                    {% if not object.document_illustrators.all %}
                                 style="display: none;"
                                    {% endif %}>
                                <!-- Authors -->
                                <!-- TODO pluralization -->
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "illustrators:" %}</span>
                                {% for illustrator in object.document_illustrators.all %}
                                    <span class="text-dark text-capitalize"> {{ illustrator }}</span>
                                {% endfor %}


                            </div>

                            <!-- editor section -->
                            <div class="pb-1 border-line">
                                <!-- Authors -->
                                <!-- TODO pluralization -->
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "Editors:" %}</span>
                                {% for editor in object.document_editors.all %}
                                    <span class="text-dark text-capitalize"> {{ editor }}</span>
                                {% endfor %}


                            </div>


                            <!-- publisher section -->
                            <div class="pb-1 border-line"
                                    {% if not object.publisher %}
                                 style="display: none;"
                                    {% endif %}>
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "Publisher:" %}</span>
                                <span class="text-dark text-capitalize"> {{ object.publisher }}</span>

                            </div>

                            <!-- place of publication -->
                            <div class="pb-1 border-line"
                                    {% if not object.place_of_publication %}
                                 style="display: none;"
                                    {% endif %}>
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "Place of publication:" %}</span>
                                <span class="text-dark text-capitalize"> {{ object.place_of_publication }}</span>

                            </div>


                            <!-- Publication year -->
                            <div class="pb-1 border-line"
                                    {% if not object.publication_year %}
                                 style="display: none;"
                                    {% endif %}>
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "publication year:" %}</span>
                                <span class="text-dark text-capitalize"> {{ object.publication_year }}</span>


                            </div>

                            <!-- Available year -->
                            <div class="pb-1 border-line"
                                    {% if not object.created_date %}
                                 style="display: none;"
                                    {% endif %}>

                                <span class="text-capitalize font-weight-normal text-dark">{% trans "available year:" %}</span>
                                <span class="text-dark text-capitalize"> {{ object.created_date }}</span>

                            </div>

                            <!-- Keywords -->
                            <div class="pb-1 border-line">

                                <!-- TODO pluralization -->
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "keywords:" %}</span>
                                {% for keyword in object.keywords.all %}

                                    <span class="text-dark text-capitalize"> <a

                                            href="{% url 'keyword:keyword_detail' keyword.keyword %}">{{ keyword.keyword| transtolocal }}</a></span>


                                {% endfor %}


                            </div>

                            <!-- Description -->
                            <div class="pb-1 border-line"
                                    {% if not object.description %}
                                 style="display: none"
                                    {% endif %}>
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "description:" %}</span>
                                <span class="text-dark text-capitalize"
                                      style="vertical-align: top;">{{ object.description }}</span>

                            </div>

                            <!-- License type -->
                            <div class="pb-1 border-line">
                                <!-- TODO pluralization -->
                                <span class="capitalize font-weight-normal text-dark">{% trans "License type:" %}</span>
                                <span class="text-dark text-capitalize"> {{ object.license_type }}</span>
                            </div>

                            <!-- document series -->
                            <div class="pb-1 border-line">
                                <!-- Add 2px right margin in each -->
                                <span class="capitalize font-weight-normal text-dark">{% trans "Series:" %}</span>
                                <span class="text-dark text-capitalize">{{ object.document_series }}</span>
                            </div>

                            <!-- document edition -->
                            <div class="pb-1 border-line"
                                    {% if not object.edition %}
                                 style="display: none;"
                                    {% endif %}>
                                <span class="capitalize text-dark text-capitalize">{% trans "edition:" %}</span>
                                <span class="text-dark">
                                    {{ object.edition }}
                                </span>
                            </div>

                            <!-- document volume -->
                            <div class="pb-1 border-line"
                                    {% if not object.volume %}
                                 style="display: none;"
                                    {% endif %}>
                                <span class="capitalize text-dark text-capitalize">{% trans "volume:" %}</span>
                                <span class="text-dark">{{ object.volume }}</span>
                            </div>

                            <!-- isbn -->
                            <!-- document isb -->
                            <div class="pb-1 border-line"
                                    {% if not object.documentidentifier.identifier_id %}
                                 style="display: none"
                                    {% endif %}>
                                <span class="capitalize text-dark text-capitalize">{{ object.documentidentifier.identifier_type }}:</span>
                                <span class="text-dark">{{ object.documentidentifier.identifier_id }}</span>
                            </div>

                            <!-- total page -->
                            <div class="pb-1 border-line"
                                    {% if not object.document_total_page %}
                                 style="display: none;"
                                    {% endif %}>
                                <!-- TODO: implement pluralization in total page -->
                                <span class="text-capitalize text-dark text-capitalize">{% trans "total pages" %}:</span>
                                <span class="text-dark"> {{ object.document_total_page }}</span>
                            </div>

                            <!-- Language -->
                            <div class="pb-1 border-line">
                                <!-- TODO: implement pluralization in total page -->
                                <span class="text-capitalize hidden text-dark text-capitalize">{% trans "languages" %}:</span>
                                {% for language in object.languages.all %}
                                    <span class="text-dark"> {{ language }}</span>
                                {% endfor %}
                            </div>

                            <!-- Education level -->
                            <div class="pb-1 border-line">
                                <!-- TODO: implement pluralization in total page -->
                                <span class="text-capitalize hidden text-dark text-capitalize">{% trans "education levels" %}:</span>
                                {% for education_level in object.education_levels.all %}
                                    <span class="text-dark"> {{ education_level }}</span>
                                {% endfor %}


                            </div>

                            <!-- Interactivity -->
                            <div class="pb-1 border-line">
                                <!-- TODO: implement pluralization in total page -->
                                <span class="text-capitalize hidden text-dark text-capitalize">{% trans "interactivity" %}:</span>
                                <span class="text-dark"> {{ object.document_interactivity }}</span>
                            </div>


                            <!-- Rights -->
                            <div class="pb-1 border-line" {% if not object.custom_license %} style="..." {% endif %}>
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "right:" %}</span>
                                <span class="text-dark text-capitalize"
                                      style="vertical-align: top;"> {{ object.custom_license }}</span>
                            </div>

                            <!-- sponsor -->
                            <div class="pb-1 border-line"
                                    {% if not object.sponsors.all %}
                                 style="display: none;"
                                    {% endif %}>
                                <!-- TODO pluralization -->
                                <span class="text-capitalize font-weight-normal text-dark">{% trans "sponsors:" %}</span>
                                {% for sponsor in object.sponsors.all %}
                                    <span class="text-dark text-capitalize"> {{ sponsor }}</span>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

{% endblock content %}




















