{% extends 'base.html' %}
{% load static %}
{% block style %}
{{ block.super }}
<style>
.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    padding:0px;
}
 .card p,.footer div{
padding-left:10%;
padding-right:0%;
}
.background-color {
    background-color: #fafafa;
    width:100%;
    height:100%;
    padding:2% 5%;
}
.card .footer {
    padding: 0;
    line-height: 30px;
}
</style>
{% endblock style%}
{% block content %}
 <!--This is for favourite books list in admin section-->

                <div class=" background-color">
                  {% if favourite_documents %}
                    <h3 class="text-capatitalize">All featured items</h3>

                    <div class="row">

                      {% for doc in favourite_documents %}

                      <div class="col-lg-2 col-md-4 col-sm-6">

                               <div class="card"
                                     style="cursor: pointer;"
                                     onclick="window.location.href='{% url doc.type|add:':detail' doc.title|slugify doc.id %}'">
                                    <div class="content">

                                     {% if doc.thumbnail  %}


                                      <img src="{{ MEDIA_URL }}{{ doc.thumbnail }}"
                                             width="100%"
                                             height="225px"
                                             alt="{{ doc.title|truncatechars:20}}">

                                      {% else %}
                                       {% if doc.type == "document"%}

                                                  <img src="{% static 'base_assets/img/book_image_default.png' %}"
                                                         width="100%"
                                                         height="225px"
                                                         alt="{{ doc.title|truncatechars:20}}">

                                       {% elif doc.type == "audio" %}

                                         <img src="{% static 'base_assets/img/audio_book.png' %}"
                                                         width="100%"
                                                         height="225px"
                                                         alt="{{ doc.title|truncatechars:20}}">

                                       {% else %}
                                        <img src="{% static 'base_assets/img/video_book.png' %}"
                                                         width="100%"
                                                         height="225px"
                                                         alt="{{ doc.title|truncatechars:20}}">
                                        {% endif %}

                                        {% endif %}

                                        <p class="text-capitalize text-primary" style="border-top:1px solid #ccc">{{ doc.title|truncatechars:20 }}</p>

                                        <div class="footer">
                                            <hr>
                                            <div class="stats text-muted">
                                                {% if doc.document_authors.first %}
                                                    <i class="fa fa-user-circle"></i>
                                                    By: {{ doc.document_authors.first }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div><!--Content end-->
                                </div> <!--Card end-->
                      </div>

                      {% if forloop.counter == 6 %}
                         <!--<span class=""></span>-->
                         <br>
                          {% endif %}

                      {% endfor %}
                      </div>
                      <br><br><br>
                      <div class="row">

                      <div class="pagination">
                        <span class="step-links pull-left">
                          {% if favourite_documents.has_previous %}
                          <a href="?page={{ favourite_documents.previous_page_number }}">previous</a>
                          {% endif %}

                          <!-- Showing the page numbers in Html Page -->
                          <span class="current">
                          Page {{ favourite_documents.number }} of {{ favourite_documents.paginator.num_pages }}.
                        </span>

                        {% if favourite_documents.has_next %}
                        <a href="?page={{ favourite_documents.next_page_number }}">next</a>
                        {% endif %}
                        </span>
                      </div>

                    </div>


                  {% endif %}

                </div>
{% endblock content%}
