{% load static %}
<!-- Bootstrap core CSS     -->
<link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" />

<!-- Animation library for notifications   -->
<link href="{% static 'dashboard/css/animate.min.css' %}" rel="stylesheet"/>

<!--  Paper Dashboard core CSS    -->
<link href="{% static 'dashboard/css/paper-dashboard.css' %}" rel="stylesheet"/>


<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="{% static 'dashboard/css/demo.css' %}" rel="stylesheet" />


<!--  Fonts and icons     -->
<!-- TODO remove fontawesome and server locally -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href="{% static 'dashboard/css/themify-icons.css' %}" rel="stylesheet">