{%  extends 'dashboard/base.html' %}
{%  load crispy_forms_tags %}
{%  block content %}

    {% comment %}
    <div class="container">
        <div class="col-md-8">
            <form action="." method="post">
             {% csrf_token %}
            {{ form  | crispy }}
             <!-- fileupload form -->
                {{ document_file_upload_form | crispy }}
              <input type="submit" value="Create Document" class="btn btn-primary">
            </form>
        </div>
    </div>
    {% endcomment %}



    <form action="." method="post">
    {%  csrf_token %}
    {{ form | crispy  }}
    {{ document_file_upload_formset | crispy }}
    <input type="submit" value="Create Document" class="btn btn-primary">
    </form>
{%  endblock content %}
