{%  extends 'dashboard/base.html' %}
{%  load crispy_forms_tags %}
{%  load i18n %}
{%  block content %}

    {% comment %}
    <div class="container">
        <div class="col-md-8">
            <form action="." method="post">
             {% csrf_token %}
            {{ form  | crispy }}
             <!-- fileupload form -->
                {{ document_file_upload_form | crispy }}
              <input type="submit" value="Create Document" class="btn btn-primary">
            </form>
        </div>
    </div>
    {% endcomment %}



    <div class="container">
        <div class="row">
            <div class="col-md-10">
              <form action="." method="post" enctype="multipart/form-data">
    {%  csrf_token %}
    {{ form | crispy  }}
     <h3>{%  trans "upload file" %}</h3>
    {{ inlines | crispy }}
    <input type="submit" value="Upload document" class="btn btn-primary">
    </form>
            </div>
        </div>
    </div>
{%  endblock content %}
