<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <!--<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">-->
    <!--<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{% block title %}{% endblock title %}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    {% include 'dashboard/_partials/css.html' %}

</head>
<body>


<!--success message notification-->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center  mt-4 ">
            {% if messages %}
            <div class="alert alert-info alert-with-icon" data-notify="container">
                {% for message in messages %}
                    <button aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">×</button>
                    <span data-notify="message notify">{% if message.tags %} {{ message.tags }}{% endif %}>{{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
</div>


<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->


        {% block sidebar %}
            {% include 'dashboard/_partials/sidebar.html' %}
        {% endblock sidebar %}

    </div>

    <div class="main-panel">
        {% block navbar %}
            {% include 'dashboard/_partials/navbar.html' %}
        {% endblock navbar %}


        {% block content %}


        {% endblock content %}

        {% block footer %}
            {% include 'dashboard/_partials/footer.html' %}
        {% endblock footer %}


    </div>


</div>


</body>

{% block script %}
    {% include 'dashboard/_partials/scripts.html' %}
{% endblock script %}

</html>
