// Import css files in order
// override now-ui-kit
@import './sass/ui-kit-override';
@import './css/bootstrap.min';
@import './sass/now-ui-kit';

// custom pustakalaya css
@import './css/pustakalaya';
